In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
iris = pd.read_csv("C:\\Users\\Swathi\\Desktop\\Excelr Classes\\Assignments\\12.Decision Trees\\iris.csv")
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
iris=iris.rename(columns={'Sepal.Length': 'Sepal_Length', 'Sepal.Width':'Sepal_Width', 
                          'Petal.Length':'Petal_Length', 'Petal.Width':'Petal_Width', 'Species':'Species'})
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
iris['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [20]:
iris.Species.value_counts()

virginica     50
versicolor    50
setosa        50
Name: Species, dtype: int64

In [21]:
colnames=list(iris.columns)
colnames

['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']

In [22]:
predictors = colnames[:4]
target=colnames[4]

Splitting data in test and train data sets

In [25]:
from sklearn.model_selection import train_test_split

train,test = train_test_split(iris,test_size=0.2)

Building decision tree model

In [28]:
from sklearn.tree import DecisionTreeClassifier

model1=DecisionTreeClassifier(criterion='entropy')
model1.fit(train[predictors],train[target])

pred = model1.predict(test[predictors])
print(pred)
pd.Series(pred).value_counts()

['virginica' 'virginica' 'virginica' 'setosa' 'virginica' 'setosa'
 'setosa' 'setosa' 'setosa' 'virginica' 'virginica' 'virginica' 'setosa'
 'virginica' 'versicolor' 'setosa' 'setosa' 'virginica' 'versicolor'
 'virginica' 'setosa' 'versicolor' 'versicolor' 'setosa' 'setosa' 'setosa'
 'versicolor' 'versicolor' 'setosa' 'versicolor']

setosa        13
virginica     10
versicolor     7
dtype: int64

In [31]:
print(pd.crosstab(test[target],pred))

col_0       setosa  versicolor  virginica
Species
setosa          13           0          0
versicolor       0           6          0
virginica        0           1         10

In [34]:
print(np.mean(pred==test.Species))

0.9666666666666667

In [35]:
# or

print(np.mean(pred==test[target]))

0.9666666666666667